* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(Image/BG.jpeg); 
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(0px);
    font-size: 19px;
}

.Logo{
    border-radius: 50%;
    width: auto;
    height: 120px;
    margin-top: 25px;
    margin-left: 85px;
}

.glass-container{
    width: 300px;
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #fff;
}

.glass-container::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    z-index: -1;
}


main {
    text-align: center;
    margin-bottom: 30px;
}

.user-info {
    margin-top: 10px;
    margin-bottom: 10px;
    color: darkred;
}

.user-info img {
    border: 3px solid darkred;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.car-info img {
    width: 200px;
    height: auto;
    border: 1px solid darkred;
    border-radius: 5px;
    margin: 10px 0;
}

.details {
    font-size: 18px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

button {
    background: darkred;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

button:hover {
    background: white;
    color: darkred;
    outline: 1px solid darkred;
}